.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0 1.2rem;
  background-color: #ffffff;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
  }
}
